

.table-responsive {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    
    padding-top: 25px;
    padding-bottom: 25px;
}

.table {
    border-collapse: collapse;
    width: 100%;
}

.table thead th {
    background-color: $verdefondo;
    color: #fff;
    font-weight: bold;
}

.table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table tbody tr:hover {
    background-color: #e1f5d8;
}

.table th, .table td {
    padding: 10px;
    text-align: center;
}

.btn-primary {
    background-color: $verdefondo;
    border-color: $verdefondo;
    transition: background-color 0.3s, border-color 0.3s;
}

.btn-primary:hover {
    background-color: $verdefondo;
    border-color: $verdefondo;
}

@media (max-width: 767px) {
    .table-responsive {
        margin-bottom: 15px;
        
    }

}
.switch {
    position: relative;
    display: inline-block;
    width: 50px; 
    height: 28px; 
}

/* Ocultar el input checkbox original */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* Slider personalizado */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 28px; 
}

/* Círculo dentro del slider */
.slider:before {
    position: absolute;
    content: "";
    height: 22px; 
    width: 22px; 
    left: 3px; 
    bottom: 3px; 
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

/* Cambiar el color cuando el switch está activado */
input:checked + .slider {
    background-color: $verdefondo;
}

/* Mover el círculo cuando el switch está activado */
input:checked + .slider:before {
    transform: translateX(22px); 
}

